.relatorio-page {
    min-width: 1100px;
}

/* Allow bottom to show */
.relatorio-page {
    margin-bottom: 60px;
}
/* better visibility for select */
.relatorio-page .form-control.form-select {
    border-color: #ccc;
}
/* main sections */
.form-dropdown-menus, 
.section-pie-charts, 
.section-dates, 
.section-line-chart {
    background-color: #ececec;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}
/* inner content */
.section-content {
    width: calc(100% - 60px);
    background-color: #fff;
    float: left;
    padding: 20px;
    border-top: 1px dashed #ccc;
    border-right: 3px solid #ececec;
}
/* overwrite border tops and bottoms where needed */
.form-dropdown-menus .section-content, 
.section-dates .section-content {
    border-top: 2px solid #ececec;
}
.section-pie-charts .section-content,
.section-line-chart .section-content {
    border-bottom: 1px solid #ececec;
}
/* visually differentiate controls */
.form-dropdown-menus .section-content,
.section-dates .section-content {
    background-color: #fbfbfb;
}
/* left bar with icon */
.section-icon {
    width: 60px;
    padding-top: 10px;
    float: left;
    text-align: center;
}
/* icons */
.icon-categorias, .icon-pies, .icon-stats, .icon-time {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.icon-categorias {
    background: url(../images/icons/categorias.png) no-repeat transparent center center;
}
.icon-pies {
    background: url(../images/icons/pies.png) no-repeat transparent center center;
}
.icon-stats {
    background: url(../images/icons/stats.png) no-repeat transparent center center;
}
.icon-time {
    background: url(../images/icons/time.png) no-repeat transparent center center;
}
.section-dates label {
    padding: 8px;
}
/* visually separate second relatorio */
.section-dates {
    margin-top: 20px;
}
/* give labels on date selections */
.section-dates label.year-label {
    float: left;
}
.section-dates label.month-label {
    float: right;
}
/* dropdowns */
.form-dropdown-menus {

}
.form-select-element {
    float: left;
    padding-right: 2%;
    width: 33%;
}
.form-select-element .form-label {
    display: block;
    text-align: center;
}
.form-select-element .form-select {

}

/* pie charts */
.section-pie-charts  .section-content{
    padding: 50px 0;
    /*border: 30px solid #f7f7f6;
    margin: 30px 0;
    padding: 20px 0;*/
}
.chart-container {
    float: left;
    padding-right: 2%;
    width: 33%;
}
.chart-container canvas {
    display: block;
    margin: 0 auto;
}
.chart-container label {
    display: block;
    text-align: center;
    margin-top: 10px;
}
.chart-legend {
     margin-top: 10px;
}

/* dates */
.section-dates {

}
.section-dates select {
    width: 20%;
    float: left;
}
.months-list {
    float: right;
    width: 45%;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
.months-list li {
    color: #a9a9a9;
    cursor: default;
    overflow: hidden;
    list-style: none outside none;
}
.months-list li.enabled {
    color: #333333;
    cursor: pointer;
}
.months-list li.enabled:hover {
    color: #666666;
}
.months-list li.active {
    color: #f79521;
}
.months-list li.active:hover {
    color: #de871d;
}

/* line chart */
.section-line-chart {

}
.section-line-chart canvas {

}
.highlighted {
    text-decoration: underline;
    font-weight: bold;
}